[tool.poetry]
name = "PortableTab"
version = "0.1.0"
description = "Python package for serializing tables in portable format with Capnp."
authors = ["Takeshi Sagara <sagara@info-proto.com>"]
license = "MIT"
readme = "README.md"
packages = [{include = "PortableTab"}]

[tool.poetry.dependencies]
python = "^3.7"
docopt = "^0.6.2"
pycapnp = "^1.3.0"

[tool.poetry.group.dev.dependencies]
autopep8 = "^2.0.2"
flake8 = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
